body {
    font-family: "Raleway", sans-serif;
    font-size: 150%;
    /* background: linear-gradient(112.1deg, rgba(32, 38, 57, 0.8) 11.4%, rgba(63, 76, 119, 0.9) 70.2%); */
}

#gcem {
    position: relative;
    padding: 30px 40px;
    margin: 20px;
}

#accred {
    position: relative;
    left: 50%;
    padding: 30px 40px;
    margin: 20px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab {
    display: inline-block;
    padding: 20px 40px;
    border: none;
    background-color: rgb(17, 17, 90);
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in-out 1ms; 
}

.tab:hover {
    background-color: rgb(53, 53, 224);
    color: white;
}

.home-div {
    max-width: 1400px;
    margin: 0 auto;
    gap: 50px;
    padding: 10px;
}

.about-gcem {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    gap: 50px;
    padding: 10px;
}

/* .about-gcem-p {
    
} */

.about-gcem-img,
.about-gcem-p {
    flex: 1;
}

.heading {
    font-size: 180%;
    font-weight: bold;
}

.about-gcem-img {
    overflow: hidden;
}


.about-gcem-img>img {
    display: block;
    padding: 50px;
    width: 95%;
    transition: all ease-in-out 0.2s;
}

.about-gcem-img>img:hover {
    transform: scale(1.15);

}

.course-flex {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    gap: 100px;
}

.course-flex img {
    width: 400px;
    height: 225px;
    object-fit: cover;
}

.course p {
    text-align: center;
    opacity: 0.5;
}

iframe {
    padding-bottom: 100px;
}
/* .video {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
} */

footer>div {
    text-align: center;
    border: 1px solid rgb(17, 17, 90);
    background-color: rgb(17, 17, 90);
    color: white;
}

footer a {
    text-decoration: none;
    color:rgba(173, 255, 255, 0.801);
}